<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>World Happiness Report</h1>
          <h2>Happiness scored according to economic production, social support, etc.</h2>
          <div class="d-flex">
            <a href="https://www.kaggle.com/datasets/unsdsn/world-happiness" class="btn-get-started scrollto" target="_blank">Link to Kaggle</a>
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="https://images.ctfassets.net/cnu0m8re1exe/7aZeyiA6QhG9WBov0yF33Z/b1a5d16223ec3db1d04c9e11523883d4/shutterstock_1954316851__1_.jpg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  
  </section><!-- End Hero -->